h1,
#temp,
.search-bar,
.heading-info,
#forecast,
#temp-high,
#temp-low,
.weather-conditions,
#celsius,
.separation-bar,
#fahrenheit,
.upcoming-forecast-message {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

button {
  background: white;
  border: thin black;
  border-radius: 12px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  display: block;
  font-size: 10px;
  margin: 12px 0 -75px auto;
  padding: 10px;
  transition: all 500ms ease-in-out;
}

button:hover {
  background: black;
  color: white;
}

footer,
.upcoming-forecast-message {
  text-align: left;
}

footer,
.app-background {
  max-width: 600px;
}
footer {
  font-size: smaller;
  margin: 5px auto;
}

.app-background {
  border: solid thin gray;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin-top: 30px;
  padding: 25px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.search-bar {
  padding: 8px 12px 0 0;
  text-align: right;
}

.heading-info,
.weather-conditions {
  padding-left: 0;
}

.heading-info {
  font-size: 1.25rem;
  font-weight: 500;
}

.upcoming-forecast-message {
  margin-bottom: 10px;
  font-size: smaller;
  border-top: solid thin;
}

.upcoming-hourly-time,
.upcoming-forecast-weekday,
.active,
#current-forecast-description {
  font-weight: bold;
}

.upcoming-hourly-forecast,
.upcoming-forecast {
  margin-bottom: 17px;
  text-align: center;
}

.active {
  color: black;
  opacity: 0.9;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.active:hover {
  color: black;
}

.evening-text-color {
  color: rgb(241, 241, 241);
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.evening-text-color:hover {
  color: rgb(241, 241, 241);
}

#temp {
  font-size: 55px;
  padding: 0;
}
#current-forecast-description {
  font-size: larger;
  text-transform: capitalize;
}
#search-button {
  background: transparent;
  border: transparent;
}

#celsius {
  margin: -20px 0;
}

#celsius,
.separation-bar,
#fahrenheit {
  cursor: default;
  font-size: 15px;
  position: relative;
  text-decoration: none;
  top: -26px;
}

#central-icon {
  display: block;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
}

#upcoming-hourly-data,
#upcoming-forecast-data {
  margin-right: -35px;
}

#code-link {
  text-decoration-line: none;
}
