h1,
#temp,
.search-bar,
.heading-info,
#forecast,
#temp-high,
#temp-low,
.weather-conditions,
.week {
  font-family: "Montserrat", sans-serif;
}

h1 {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  color: #000000;
}

ul {
  list-style: none;
}

button {
  background: white;
  border: thin black;
  border-radius: 15px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  display: block;
  font-size: 10px;
  margin: 0 auto;
  padding: 10px;
  transition: all 500ms ease-in-out;
}

button:hover {
  background: black;
  color: white;
}

footer {
  text-align: left;
  font-size: smaller;
  margin: 5px auto;
  max-width: 600px;
}

#code-link {
  text-decoration-line: none;
}
#temp {
  font-size: 55px;
  padding: 0;
}
.app-background {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border: solid thin gray;
  border-radius: 8px;
  margin-top: 30px;
  max-width: 600px;
  padding: 25px;
}

.search-bar {
  text-align: right;
  padding: 8px 12px 0 0;
}

.heading-info {
  padding-left: 0;
  font-weight: 500;
  font-size: 1.25rem;
}

#current-forecast-description {
  font-weight: bold;
  font-size: larger;
  text-transform: capitalize;
}
.weather-conditions {
  padding-left: 0;
}
.week {
  text-align: center;
  font-weight: bold;
}
.icons {
  font-size: 25px;
}
#search-button {
  background: transparent;
  border: transparent;
}

#celsius {
  margin: -20px 0;
}

#celsius,
.separation-bar,
#fahrenheit {
  cursor: default;
  font-size: 15px;
  position: relative;
  top: -26px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

#central-icon {
  display: block;
  margin: 0 auto;
}

#upcoming-forecast-message {
  text-align: left;
  margin-bottom: 10px;
  font-size: smaller;
}

.upcoming-forecast {
  text-align: center;
  margin-bottom: 15px;
}
#upcoming-forecast-data {
  margin-right: -35px;
}

.upcoming-forecast-weekday {
  font-weight: bold;
  opacity: 0.9;
}

.active {
  color: black;
  font-weight: bold;
  opacity: 0.8;
}
